In [12]:
import burdock

In [13]:
import sklearn.datasets
import pandas as pd

In [14]:
from burdock.query.sql import (PandasReader,
                               execute_private_query)
from burdock.metadata.collection import CollectionMetadata, Table, Float

In [15]:
sklearn_dataset = sklearn.datasets.load_iris()
sklearn_df = pd.DataFrame(data=sklearn_dataset.data,
                          columns=sklearn_dataset.feature_names)

In [16]:
iris = Table("dbo", "iris", 150, [
    Float("sepal length (cm)", 4, 8),
    Float("sepal width (cm)", 2, 5),
    Float("petal length (cm)", 1, 7),
    Float("petal width (cm)", 0, 3)
])
schema = Collection([iris], "csv")

In [17]:
reader = PandasReader(schema, sklearn_df)

In [18]:
rowset = execute_private_query(reader, schema, 0.3,
    'SELECT AVG("petal width (cm)") FROM dbo.iris')

In [19]:
pd.DataFrame(rowset[1:], columns=rowset[0])

       Col1
0  1.287825